* {
    margin: 0%;
}

a {
    text-decoration: none;
}

h1 {
    line-height: 55px;
}

h2 {
    line-height: 45px;
}

h3 {
    line-height: 40px;
}

button {
    cursor: pointer;
    font-size: 12pt;
    background-color: #009f35;
    color: white;
    padding: 1%;
    border-radius: 10px;
}

#navigation_bar {
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    background-color: #009f35;
    z-index: 10;
}

#navigation_bar::after {
    content:"";
    position:absolute;
    width:100%;
    bottom:1px;
    z-index:-1;
    transform:scale(1);
    box-shadow: 0px 0px 4px 1px #000000;
}

#navigation_blank {
    height: 5px;
    background-color: white;
}

#navigation_items {
    text-align: center;
    margin-top: 30px;
    font-family: 'SofiaProLight',sans-serif;
    font-weight: bold;
}

.navigation_item {
    /* border: 1px solid black; */
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 35px;
    padding-bottom: 25px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 16px;
    color: white;
    /* background-color: aqua; */
}

.navigation_item:hover {
    background-color: #009f35;
    cursor: pointer;
    /* color: white; */
}

#all_content {
    background-color: white;
}

#main_content {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid;
    background-color: white;
}

#image_header {
    width: 100%;
    height: 350px;
    /* margin-top: 82.5px; */
    cursor: pointer;
}

#content_line {
    overflow: visible; /* For IE */
    border: none;
    border-top: medium double #333;
    text-align: center;
    margin-top: 50px;
    width: 97%;
    margin-left: 1.5%;
}

#content_line::after {
    content: "Content";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#page_content {
    padding-left: 5%;
    padding-right: 5%;
    /* margin-top: 25px; */
    text-align: justify;
    line-height: 30px;
    color: #4f4f4f;
    font-family: 'SofiaProLight',sans-serif;
    margin-top: 35px;
    margin-bottom: 75px;
}

#footer_line {
    overflow: visible; /* For IE */
    border: none;
    border-top: medium double #333;
    text-align: center;
    
    margin-top: 50px;
    width: 97%;
    margin-left: 1.5%;
}

#footer_line::after {
    content: "Clients";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#client_list {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
}

.image_client {
    width: 125px;
    height: 125px;
    padding: 10px;
}

#copyright_line {
    overflow: visible; /* For IE */
    border: none;
    border-top: medium double #333;
    text-align: center;
    margin-top: 50px;
    width: 97%;
    margin-left: 1.5%;
}

#copyright_line::after {
    content: "Copyright";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#copyright {
    padding-left: 5%;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 50px;
    font-family: 'SofiaProLight',sans-serif;
    font-weight: bold;
}

#news_line {
    overflow: visible; /* For IE */
    border: none;
    border-top: medium double #333;
    text-align: center;
    margin-top: 50px;
    width: 97%;
    margin-left: 1.5%;
}

#news_line::after {
    content: "News";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#news_content {
    padding-left: 5%;
    padding-right: 5%;
    /* margin-top: 25px; */
    text-align: justify;
    line-height: 30px;
    color: #4f4f4f;
    font-family: 'SofiaProLight',sans-serif;
    margin-top: 35px;
    margin-bottom: 75px;
}